:root{
  /* green #B8E887, #D1F0B1, blue #B8D0EB */
  --background: #202124;
  --text: #CECAE0;
}

body {
  color: white;
  background-color: var(--background);
}

::-moz-selection {
  background: blue;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: red;
  color: #fff;
  text-shadow: none;
}

hr {
  border-top: 3px dotted blue;
}

code {
  background-color: lightblue;
  color: black;
  text-decoration: bold;
  padding: 0.1em 0.2em;
}

pre {
  background-color: #272822;
  line-height: 1.4;
  padding: 1em;
}

blockquote {
  border-color: blue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ddd;
}

h1::before {
  color: var(--darkMaincolor);
  content: "# ";
}

h2::before {
  color: var(--darkMaincolor);
  content: "## ";
}

h3::before {
  color: var(--darkMaincolor);
  content: "### ";
}

h4::before {
  color: var(--darkMaincolor);
  content: "#### ";
}

h5::before {
  color: var(--darkMaincolor);
  content: "##### ";
}

h6::before {
  color: var(--darkMaincolor);
  content: "###### ";
}

.toc {
  background-color: #272822;
  color: white;
}

a {
  border-bottom: 3px solid var(--darkMaincolor);
  color: inherit;
}

a:hover {
  background-color: var(--darkMaincolor);
  color: black;
}

.site-description a {
  color: #ddd;
}

.site-description a:hover {
  color: black;
}

.tags a {
  border-bottom: 3px solid var(--darkMaincolor);
}

.tags a:hover {
  background-color: var(--darkMaincolor);
  color: black;
}

.site-title a {
  color: white;
  text-decoration: none !important;
}

.header nav,
.footer {
  border-color: #333;
}

.soc:hover {
  color: black;
}

.draft-label {
  color: var(--darkMaincolor);
  background-color: blue;
}

/* --- CALLOUT --- */
.callout a:hover {
  color: var(--background);
}

.callout-custom {
  color: var(--text);
  border-color: var(--text);
}

.callout.callout-custom a {
  border-bottom: 3px solid var(--text);
}

.callout.callout-custom a:hover {
  background-color: var(--text);
  color: var(--background);
}

/* --- PRE CODE LANGUAGE TAG --- */
.highlight {
  background-color: #333;
}

.highlight pre code.language-js::before {
  content: "js";
}

.highlight pre code.language-yaml::before {
  content: 'yaml';
}

.highlight pre code.language-shell::before {
  content: 'shell';
}

.highlight pre code.language-json::before{
  content: 'json';
}

.highlight pre code.language-py::before {
  content: 'py';
}

.highlight pre code.language-css::before{
  content: 'css';
}

.highlight pre code.language-go::before{
  content: 'go';
}

.highlight pre code.language-md::before{
  content: 'markdown';
}

.highlight pre code.language-ts::before{
  content: 'ts';
}
